<h1><%= @meetup.name %></h1>
<ul>
  <% @meetup.attributes.each do |attr_name, attr_value| %>
    <p>
      <%=attr_name%>: <%= attr_value%>
    </p>
  <% end %>
</ul>
<br />
<h2>Attendees</h2>
<ul>
  <% @attendees.each do |attendee| %>
    <p>
      <%=attendee.user.username%>
    </p>
  <% end %>
</ul>
<br />
<form id="join_meetup" action="/join_meetup" method="post">
  <input type="submit">
</form>
